@import "../../modules/_base.scss";
/*Footer Menu*/
.f-menu{
    list-style-type:none;
    padding:0;
    margin-bottom:40px;
}
.f-menu__item{
    @include font-size(12px);
    will-change:transform;
    line-height:3;
    @include transition(transform .5s ease);

    &:hover,
    &:active{
        @include transform(translateX(10px));
    }
}
.f-menu__link{
    color:$text-color;
    text-decoration:none !important;
    text-transform:uppercase;
}