@import "../../modules/_base.scss";
/*News block*/
.b-item{
    text-align:center;
}
.b-item__link{
    display:block;
    max-width:300px;
    margin:0 auto 25px;
    position:relative;
    @include transition(transform .5s ease-out);

    &:after{
        content:'';
        display:block;
        padding-top:100%;
    }

    &:hover,
    &:active{
        @include transform(rotate(-3deg));
    }
}

.b-item__img{
    @extend .g-img-centered;
    border:1px solid $border-color;
}
.b-item__description{
    @include font-size(12px);
}

.b-item__title{
    display:block;
    margin-bottom:25px;
    color:$title-color;
    @include font-size(14px);
    text-transform:uppercase;
    text-decoration:none !important;
    font-family:$font-bold;
    line-height:1.1;
}
.b-item__subtitle{
    margin:0;
}

/*Video Block*/
.b-item--video{
    text-align:left;

    .b-item__img{
        @include transition(opacity .3s ease);
    }

    .b-item__link{
        max-width:460px;
        &:before{
            content:'\e029';
            font-family:'Glyphicons Halflings';
            @include font-size(48px);
            position:absolute;
            top:50%;
            left:50%;
            margin-left:-24px;
            margin-top:-36px;
            z-index:5;
            color:$primary;
            opacity:.5;
            @include transition(opacity .3s ease);
        }

        &:after{
            padding-top:56.25%;//16:9
        }

        &:hover,
        &:active{
            @include transform(none);

            &:before{
                opacity:1;
            }

            .b-item__img{
                opacity:.5;
            }
        }
    }
}