@import "../../modules/_base.scss";
/*Logo (Partners) Slider*/
.logo-slider{
    margin-bottom:10px;
}
.logo-slider__list{
    @extend .g-clearlist;
}
.logo-slider__item{
    float:left;
    width:140px;
    margin-right:20px;
}
.logo-slider__thumb{
    height:126px;
    position:relative;
}
.logo-slider__img{
    @extend .g-img-centered;
    @include filter(grayscale(100%));
    @include transition(opacity .7s ease);
    opacity:.4;

    &:hover{
        opacity:1;
        @include filter(grayscale(5%));
    }
}