@import "../../modules/_base.scss";
/*Main Slider*/
.main-slider{
    position:relative;
    overflow:hidden;

    &:before,
    &:after{
        content:'';
        display:block;
        position:absolute;
        top:-25px; right:0;
        bottom:-25px; left:0;
    }


    &:before{
        @include transform(translateZ(0));
        background-image:url(../img/slider/slider-xs.jpg);
        background-position:50% 50%;
        background-repeat:no-repeat;
        @include animation-name(animateSlider);
        @include animation-timing-function(linear);
        @include animation-duration(40s);
        @include animation-iteration-count(infinite);
    }

    &:after{
        background:rgba(#000, .5);
    }

    @include media($small){
        &:before{
            background-image:url(../img/slider/slider-sm.jpg);
        }
    }

    @include media($tablet){
        height:360px;
    }

    @include media($desktop){
        &:before{
            background-image:url(../img/slider/slider.jpg);
        }
    }
}

@include keyframes(animateSlider){
    0%{
        @include transform(translateY(0));
    }
    25%{
        @include transform(translateY(-20px));
    }
    50%{
        @include transform(translateY(0));
    }
    75%{
        @include transform(translateY(20px));
    }
    100%{
        @include transform(translateY(0));
    }
}

.main-slider__inner{
    position:relative;
    width:100%;
    color:#fff;
    z-index:5;
}

.main-slider__list{
    @extend .g-clearlist;
}
.main-slider__item{
    display:block;
    height:210px;
    overflow:hidden;
    @include font-size(36px);
    color:#fff;
    font-family:$font-retro;
    line-height:1.1;
}
.main-slider__wrapper{
    display:table;
    padding-bottom:30px;
    width:100%;
    max-width:480px;
    margin:0 auto;
    height:100%;
    table-layout:fixed;
}
.main-slider__text{
    display:table-cell;
    vertical-align:bottom;
    text-align:center;
}

/*Main Slider Arrows (see also main-slider-icons.css)*/
.main-slider{
    .bx-wrapper{
        .bx-controls-direction a{
            display:none;
        }
    }
}

@include media($tablet){
    .main-slider{
        .bx-wrapper{
            .bx-controls-direction a{
                display:block;
                top:60%;
            }
        }
    }
}

/*Main Slider Menu (see also main-slider-icons.css)*/
.slider-menu{
    @extend .g-clearfix;
    margin:10px 0 0 0;
    padding:0;
    list-style-type:none;

    @include media($tablet){
        margin-top:30px;
    }
}

.slider-menu__item{
    float:left;
    padding:5px;
    width:50%;
    text-align:center;

    &:nth-child(2n+1){
        clear:left;
    }

    @include media($tablet){
        width:25%;

        &:nth-child(2n+1){
            clear:none;
        }
        &:nth-child(4n+1){
            clear:left;
        }
    }
}

.slider-menu__link{
    display:block;
    margin-bottom:20px;
    @include font-size(12px);
    color:#fff !important;
    text-decoration:none !important;

    &:hover,
    &:active{
        .slider-menu__icon{
            opacity:1;
        }
    }
}

.slider-menu__icon{
    display:block;
    margin:0 auto 10px;
    width:55px;
    height:45px;
    background-position:center bottom;
    background-repeat:no-repeat;
    opacity:.75;
    @include transition(opacity .3s ease);
}

.slider-menu__title{
    text-transform:uppercase;
}