@import "../../modules/_base.scss";
/*Page Filters*/
.p-filter{
    list-style-type:none;
    padding:0;
    font-size:0;
    line-height:1;
}
.p-filter__item{
    display:inline-block;
    @include font-size(12px);
    margin:0 20px 15px 0;

    &:last-child{
        margin-right:0;
    }
}

.p-filter__link{
    display:inline-block;
    padding:10px 60px 10px 40px;
    white-space:nowrap;
    border:2px solid #fff;
    color:$text-color;
    text-decoration:none !important;
    text-transform:uppercase;
    position:relative;
    @include transition(all .15s ease-in);

    &:after{
        content:'';
        display:none;
        @include size(12px);
        position:absolute;
        top:9px;
        right:30px;
        background:url(../img/cross.svg) no-repeat;
    }

    &:hover,
    &:active{
        color:$primary;
        border-color:$primary;
        outline:0;
    }
}

.p-filter__link--current,
.p-filter__link.current{
    color:$primary;
    border-color:$primary;

    &:after{
        display:block;
    }

    &:hover,
    &:active{
        border-style:dashed;
    }
}

.no-svg .p-filter__link{
    &:after{
        background:url(../img/fallback/cross.png) no-repeat;
    }
}

.p-filter__btn{
    @extend .g-btn;

    &.current{
        background:$primary;
        color:#fff;
    }
}