@import "../../modules/_base.scss";
/*Subscribe section*/
.b-subscribe{
    padding:26px 0;
    background:$primary;
    color:#fff;
}
.b-subscribe__title{
    display:block;
    margin:11px 0;
    @include font-size(14px);
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    font-family:$font-bold;
    line-height:1;
}

.b-subscribe__input{
    @extend .g-input;

    @include media($desktop){
        margin:0;
    }
}

.b-subscribe__btn{
    @extend .g-btn;
    border-color: #fff;
    color:#fff;

    &:before{
        background:#fff;
    }

    &:hover,
    &:focus,
    &:active{
        color:$primary;
     }
}


/*Subscribe Login buttons*/
.subscribe-login{
    @extend .g-clearlist;
    font-size:0;
    float:right;
}
.subscribe-login__item{
    display:inline-block;
    padding:1px 0;
    @include font-size(14px);

    &:first-child{
        .subscribe-login__btn{
            border-left:1px solid #fff;
        }
    }
}

.subscribe-login__btn{
    display:inline-block;
    padding:0;
    margin:0;
    vertical-align:middle;
    width:34px;
    height:34px;
    line-height:34px;
    text-align:center;
    background:$primary;
    border:1px solid #fff;
    border-left:none;
    color:#fff;

    &:hover,
    &:active,
    &:focus{
        outline:0;
        color:$primary;
        background:#fff;
    }

    [class^="icon-"]:before, [class*=" icon-"]:before{
        margin:0;
    }
}
