@import "../../modules/_base.scss";
/*Video Slider*/

.video-slider{
    .bx-wrapper{
        .bx-controls-direction a{
            //display:block;
            top:60%;
        }
        .bx-prev{
            left: -10px;
        }
        .bx-next{
            right: -10px;
        }
    }
}

@include media($mobile){
    .video-slider{
        .bx-wrapper{
            .bx-controls-direction a{
                //display:block;
                top:38%;
            }

            .bx-prev{
                left: -25px;
            }
            .bx-next{
                right: -25px;
            }
        }
    }
}
.video-slider__list{
    @extend .g-clearlist;
}
.video-slider__item{
    @extend .g-column;

    @include media($mobile){
        width:460px;
    }
}