@import "../modules/base";

/*Site Header*/
.header{
    width:100%;
    background:#fff;
    box-shadow:0 1px 4px rgba(#000, .2);
    position:relative;
    z-index:2000;

    @include media($desktop){
        position:fixed;
        left:0; top:0;
    }
}

.header__inner{
    padding:5px 0;
    position:relative;
    background:#fff;
    z-index:2000;

    @include media($desktop){
        //padding:5px 0;
        padding:14px 0;
    }
}

@import "header/_logo.scss";
@import "header/_panel.scss";