@import "base";
/* Forms */

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    @include appearance(none);
}

.g-input,
.g-select,
.g-textarea{
    display:inline-block;
    width:100%;
    @include px2rem(margin-bottom, $project-line-height);
    @include px2rem(padding, 0 10px);
    background-color: #fff;
    border: 1px solid $border-color;
    color:$title-color;
    box-shadow: none;
    vertical-align:middle;
    @include font-size(14px);

    @include placeholder{
        color:$text-color;
        text-overflow:ellipsis;
    }

    &:hover,
    &:focus{
        border-color:$primary;
        outline:0;
    }
}

.g-input,
.g-select{
    @include px2rem(height, 36px);
}

.g-textarea{
    @include px2rem(min-height, $project-line-height*5);
}

.g-label{
    display: block;
    @include px2rem(margin-bottom, 6px);
}






